body{
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    padding: 70px 30px;
    
}

.leftPortion{
    margin: none;
    padding: none;
    width: 40%;
    float: left;
}

.header{
    font-family: sans-serif;
    font-size: 60px;
    padding: 0px 15px;

}

.picture{
    width: 70%;
    padding: 20px;
}

.text{
    font-family: sans-serif;
    font-size: 20px;
    padding: 15px;
}

.rightPortion{
    margin: 10px;
    padding: 10px;
    height: 95%;
    width: 50%;
    float: left;
    border-radius: 10px;
    outline: 5px solid black;
}

.heading{
    font-family: sans-serif;
    font-size: 40px;
    margin: 10px 10px 30px;
}

.question{
    font-family: sans-serif;
    font-size: 25px;
    margin: 10px 10px;
}

.rightPortion input[type = "text"]{
    margin: 10px 10px;
    border: none;
    border-bottom: 2px solid #000;
    background: transparent;
    outline: none;
    width: 97%;
    height: 40px;
    color: #fff;
    font-size: 25px;
}

.rightPortion input[type = "button"]{
    border: none;
    outline: none;
    height: 40px;
    background: #FC466B;
    color: #000;
    font-size: 20px;
    border-radius: 10px;
    float: right;
    margin: 20px 40px;
}

.rightPortion input[type = "button"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}