body{
    margin: 0;
    padding: 0;
    background:#FFFFFF  ;
    background-size: cover;
    background-position: bottom;
    font-family: sans-serif;
    padding: 300px 0px;
    overflow-y: hidden;
}

.peopleList{
    padding: 20px;
    height: 100%;
    width: 15%;
    background: #000;
    top: 0;
    left: 0;
    position: absolute;
}

.person{
    background: rgb(40, 40, 40);
    border-radius: 20px;
    padding: 5% 5% 10% 10%;
    cursor:pointer;
    margin:3%;
}

.picture{
    border-radius: 15px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    width: 20%;
}

.name{
    word-wrap: hidden;
    font-family: sans-serif;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    color: #FFF;
    cursor: pointer;
    margin-top: 1%;
}


.messageSection{
    padding: 20px;
    height: 100%;
    width: 76%;
    top: 0;
    right: 0;
    position: absolute;
}

.sendMessageSection{
    bottom: 2%;
    right: 2%;
    width: 91%;
    position: absolute;
    background-color: #999999;
}

input{
    bottom: 0;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}

input[type = "text"]{
    background: #fff;
    width: 90%;
    height: 40px;
    outline: none;
    padding: 0 25px;
    border-radius: 25px 0 0 25px;
    margin-bottom: 5%;
    right: 10%;
    position: absolute;

}

input[type = "submit"]{
    position: absolute;
    right: 0%;
    border-radius: 0 25px 25px 0;
    width: 10%;
    height: 40px;
    outline: none;
    cursor: pointer;
    background: #ffc107;
    color: #fff;
    margin-bottom: 5%;
}

input[type = "submit"]:hover{
    background: #ff5722;
}
.currentPersonName{
    color: #000;
    font-size: 50px;
    position: relative;
    left: 39%;
    margin: 20px;
}

.icon1{
    position: absolute;
    bottom: 7%;
    right: 100%;
    width: 75px;
    cursor: pointer;
}

.icon2{
    position: absolute;
    bottom: 7%;
    right: 94%;
    width: 75px;
    cursor: pointer;

}

.myMessage{
    background: #d3d3d3;
    position: relative; 
    font-size: 18px;
    color: #000;
    left: 0%;
    width: 40%;
    border-radius: 20px;
    padding: 10px 14px;
}

.timeLeft{
    color: rgb(85, 85, 85);
    position: relative;
    font-size: 10px;
    left: 1%;
    width: 40%;
}

.theirMessage{
    background: #00B2FF;
    position: relative;
    text-align: right;
    font-size: 18px;
    color: #FFF;
    left: 50%;
    width: 40%;
    border-radius: 20px;
    padding: 8px 13px;
}
.messangingBox
.timeRight{
    text-align: right;
    color: rgb(85, 85, 85);
    position: relative;
    font-size: 10px;
    left: 50%;
    width: 40%;
}